#project{
    margin-top: 12rem;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 4rem;
}

.projcont{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    padding: 60px 20px 20px;
}

.project{
    background: #081b29;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 238, 255);
    margin-bottom: 10px;
}

.content {
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-box{
    padding: 20px 40px;
    background: #0ef;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 4px #0ef, 0 0 8px #0ef;
    margin-top: auto;
}

.btn-box:hover {
    box-shadow: 0 0 10px cyan,0 0 30px cyan;
    text-decoration: none;
}

.project-links{
    display: flex;
    justify-content: center;
}

@media(max-width : 550px) {
    #project{
        font-size: 45px;
    }    
}